<div class="container" style="padding-top:50px">
  <h1>Settings</h1>
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <form method="post" action="/user/update">
        {{#if error}}
          <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Oh snap!</strong> {{error.msg}}
          </div>
        {{/if}}
        {{#if signUpSuccessMsg}}
          <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{signUpSuccessMsg.msg}}</strong> You can go back to Slack now
          </div>
        {{/if}}
        <div class="form-group">
          <label for="slackUsername">Slack Username</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">@</div>
            <input type="text" class="form-control" name="slack[username]" aria-describedby="slackUsername" value="{{{slackUsername}}}">
          </div>
        </div>
        <div class="form-group">
          <label for="jiraUsername">JIRA Username</label>
            <input type="text" class="form-control" name="jira[username]" aria-describedby="jiraUsernameHelp" value="{{{jiraUsername}}}">
          <small id="jiraUsernameHelp" class="form-text text-muted">Your JIRA username is not your email address</small>
        </div>
        <button class="btn btn-primary float-right">Save</button>
      </form>
    </div>
  </div>
</div>
