<div class="container" style="padding-top:50px">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <form method="post" action="/user/create">
        {{#if error}}
          <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Oh snap!</strong> {{error.msg}}
          </div>
        {{/if}}
        <div class="form-group">
          <label for="slackUsername">Slack Username</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">@</div>
            <input type="text" class="form-control" name="slack[username]" aria-describedby="slackUsername">
          </div>
          <small id="slackUsernameHelp" class="form-text text-muted">The handle people use to mention you in slack. No need to type in the @ symbol</small>
        </div>
        <div class="form-group">
          <label for="jiraUsername">JIRA Username</label>
            <input type="text" class="form-control" name="jira[username]" aria-describedby="jiraUsernameHelp">
          <small id="jiraUsernameHelp" class="form-text text-muted">Your JIRA username is not your email address, it's what people use to mention you.<br>
            <a data-toggle="collapse" href="#jiraUsernameHelpExpanded" aria-expanded="false" aria-controls="jiraUsernameHelpExpanded">
              Show an example.
            </a>
          </small>
        </div>
        <button class="btn btn-primary float-right">Save</button>
      </form>
    </div>
  </div>
</div>

<div class="collapse" id="jiraUsernameHelpExpanded">
  <br>
  <div class="card card-body">
    <img src="http://i.imgur.com/uHWCH9h.gif" >
  </div>
</div>
